body {
  font-family: Arial, sans-serif;
}

#registrationForm, #chatInterface {
  width: 300px;
  margin: 20px auto;
}

input[type="text"], button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

#chatMessages {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

#messageInput {
  width: calc(100% - 80px);
  margin-right: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
